body{
    background-color: wheat;
}

#maindiv{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

img{
    width: 150px;
    height: 150px;
}

#title{
    font-size: 35px;
    font-weight: bold;
}

#cal{
    font-size: 50px;
    font-weight: bold;
}
