body {
    background-color: wheat;
}
#maindiv {
    margin-left: 20vw;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
#title {
    font-size: 35px;
    font-weight: bold;
}
table {
    border: solid black;
}
